@font-face {
    font-family: "Comfortaa";
    src: url('/fonts/Comfortaa-Medium.ttf');
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Comfortaa";
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    padding: 0px;
}