.main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  align-items: center;
  margin: 40px 0px 120px 0px;
  padding: 0px 120px 0px 120px;
}

.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 140px;
  align-items: center;
}

.main-div {
  display: flex;
  flex-direction: row;
  column-gap: 120px;
}

.main-img {
  width: 50%;
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.main-h3 {
  font-size: 30px;
  font-weight: bold;
}

.main-p {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
}

.titles {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}